<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>List of <%= type %></h1>
    <% if (Array.isArray(data) && data.length > 0) { %>
        <ul>
            <% data.forEach(item=> { %>
                <li>
                    <%= JSON.stringify(item, null, 2) %>
                </li>
                <% }); %>
        </ul>
    <% } else { %>
        <p>
            <%= message %>
        </p>
    <% } %>
    <a href="/admin">Back to home</a>
</body>

</html>