<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } %>

            <h2>Remove a Product</h2>
            <form action="/admin/removeProduct" method="POST">
                <label for="productId">Product ID:</label>
                <input type="text" name="productId" required>

                <button type="submit">Remove Product</button>
            </form>
</body>

</html>