<!-- Strona główna admina -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome to the Admin Panel</h1>
    <p>Here are your available actions:</p>
    <ul>
        <li> <a href="/admin/addProduct">Add a new Product</a> </li>
        <li> <a href="/admin/removeProduct">Remove a Product</a> </li>
        <li> <a href="/admin/modifyProduct">Modify a Product</a> </li>
        <li> <a href="/admin/getAll?type=users">Get the Users</a> </li>
        <li> <a href="/admin/getAll?type=carts">Get the Carts</a> </li>
        <li> <a href="/admin/getAll?type=orders">Get the Orders</a> </li>
        <li> <a href="/admin/getAll?type=products">Get the Products</a> </li>
        <br>
        <li> <a href="/users/logout">Log Out</a> </li>
    </ul>
</body>

</html>