<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome to the Home Page!</h1>
    <p>Here are your available actions:</p>
    <ul>
        <li> <a href="/products">See Products</a> </li>
        <li> <a href="/users/login">Log In</a> </li>
        <li> <a href="/users/register">Register</a> </li>
    </ul>
    
    <br><a href="/users">User panel</a>
    <br><a href="/admin">Admin panel</a>
</body>

</html>