<!-- akcje do wyboru? -->
<!-- PRODUCTS / LOGIN / CART -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Witaj na stronie głównej!</h1>
    <p>To jest przykład strony głównej Twojej aplikacji eShop.</p>
    <a href="/api/users/login">Zaloguj się</a> | <a href="/api/users/register">Zarejestruj się</a>
</body>

</html>