<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome to the Home Page!</h1>
    <p>Here are your available actions:</p>
    <ul>
        <li> <a href="/api/products/allProducts">See Products</a> </li>
        <li> <a href="/api/users/login">Log In</a> </li>
        <li> <a href="/api/users/register">Register</a> </li>
    </ul>

</body>

</html>