<!-- Strona główna użytkownika -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome to the User Panel</h1>
    <p>Here are your available actions:</p>
    <ul>
        <li> <a href="/users/login">Log In</a> </li>
        <li> <a href="/users/register">Register</a> </li>
        <li> <a href="/cart/getAll">Cart</a> </li>
        <li> <a href="/users/logout">Log Out</a> </li>
    </ul>
</body>

</html>