<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
</head>

<body>
    <h1>Zaloguj się</h1>

    <% if (errorMessage) { %>
        <p style="color: red;">
            <%= errorMessage %>
        </p>
        <% } %>

            <form action="/api/users/login" method="POST">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" required>

                <label for="role">Rola:</label>
                <select id="role" name="role">
                    <option value="user">Użytkownik</option>
                    <option value="admin">Administrator</option>
                </select>

                <button type="submit">Zaloguj się</button>
            </form>

            <p>Nie masz konta? <a href="/api/users/register">Zarejestruj się</a></p>
</body>

</html>